/* Estilo del navbar */
.navbar {
  background-color: black; /* Fondo negro */
  color: white;           /* Texto blanco */
  display: flex;          /* Flexbox */
  justify-content: center; /* Centrado horizontal */
  align-items: center;    /* Centrado vertical */
  height: 70px;           /* Altura más grande */
  position: fixed;        /* Fijo en la parte superior */
  width: 98.7%;            /* Ocupa todo el ancho */
  z-index: 1000;    
}

/* Estilo de la lista */
.navbar .nav-links ul {
  list-style: none;       /* Sin puntos en la lista */
  display: flex;          /* Los elementos están en línea */
  margin: 0;
  padding: 0;
}

/* Estilo de los elementos de la lista */
.navbar .nav-links ul li {
  margin: 0 20px;         /* Separación entre elementos */
}

/* Estilo de los enlaces */
.navbar .nav-links ul li a {
  text-decoration: none;  /* Sin subrayado */
  color: white;           /* Texto blanco */
  font-size: 1.2rem;      /* Fuente más grande */
  padding: 10px 15px;     /* Espaciado interno */
  border-radius: 5px;     /* Bordes redondeados */
  transition: all 0.3s;   /* Transición suave */
}

.navbar .nav-links ul li a:hover {
  background-color: gray; /* Fondo gris al pasar el mouse */
  color: black; 
}

/* Estilo del enlace activo */
.navbar .nav-links ul li.active-li a {
  background-color: white; /* Fondo blanco */
  color: black;            /* Texto negro */
  font-weight: bold;       /* Negrita */
  transform: scale(1.1);   /* Escala más grande */
  transition: all 0.3s;    /* Animación suave */
}

/* Estilo de la sesión */
.navbar .logout {
  cursor: pointer;        /* Indicador de clic */
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}