<nav class="navbar">
  <div class="nav-links">
    <ul>
      <li routerLinkActive="active-li" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/home">Home</a>
      </li>
      <li *ngIf="!isAdmin" routerLinkActive="active-li">
        <a routerLink="/productos">Productos</a>
      </li>
      <li *ngIf="isAdmin" routerLinkActive="active-li">
        <a routerLink="/productosAdmin">Productos</a>
      </li>
      <li *ngIf="isAdmin" routerLinkActive="active-li">
        <a routerLink="/agregar-producto">Agregar Producto</a>
      </li>
      <li *ngIf="isAdmin" routerLinkActive="active-li">
        <a routerLink="/usuarios">Usuarios</a>
      </li>
      <li *ngIf="isAdmin" routerLinkActive="active-li">
        <a routerLink="/agregar-admin">Agregar Admin</a>
      </li>
      <li *ngIf="isLoggedIn" routerLinkActive="active-li">
        <a routerLink="/perfil">Perfil</a>
      </li>
      <li *ngIf="isLoggedIn" routerLinkActive="active-li">
        <a routerLink="/carrito">Carrito</a>
      </li>
      <li *ngIf="!isLoggedIn" routerLinkActive="active-li">
        <a routerLink="/login">Iniciar Sesión</a>
      </li>
      <li *ngIf="!isLoggedIn" routerLinkActive="active-li">
        <a routerLink="/registro">Registrarse</a>
      </li>
      <li *ngIf="isLoggedIn">
        <a (click)="logout()" class="logout">Cerrar Sesión</a>
      </li>
    </ul>
  </div>
</nav>
