<nav class="navbar">
  <div class="nav-links">
    <a routerLink="/home">Home</a>
    <a routerLink="/productos">Productos</a>
    <a *ngIf="isAdmin" routerLink="/agregar-producto">Agregar Producto</a>

    <a *ngIf="isAdmin" routerLink="/usuarios">Usuarios</a>
    <ng-container *ngIf="isLoggedIn">
      <a routerLink="/perfil">Perfil</a>
      <a routerLink="/carrito">Carrito</a>
    </ng-container>
    
    <ng-container *ngIf="!isLoggedIn">
      <a routerLink="/login">Iniciar Sesión</a>
      <a routerLink="/registro">Registrarse</a>
    </ng-container>
    <a *ngIf="isLoggedIn" (click)="logout()">Cerrar Sesión</a>
  </div>

</nav>