<div class="form-container">
    <h2>Agregar Nuevo Producto</h2>
    <form [formGroup]="productoForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Nombre:</label>
        <input 
          type="text" 
          id="name" 
          formControlName="name">
        <div class="error-message">
          <div *ngIf="productoForm.get('name')?.errors?.['required'] && productoForm.get('name')?.touched">El nombre es requerido</div>
          <div *ngIf="productoForm.get('name')?.errors?.['minlength'] && productoForm.get('name')?.touched">
            El nombre debe tener al menos 3 caracteres
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <label for="price">Precio:</label>
        <input 
          type="number" 
          id="price" 
          formControlName="price">
        <div class="error-message" *ngIf="productoForm.get('price')?.errors">
          <div *ngIf="productoForm.get('price')?.errors?.['required'] && productoForm.get('price')?.touched">El precio es requerido</div>
          <div *ngIf="productoForm.get('price')?.errors?.['min'] && productoForm.get('price')?.touched">El precio debe ser mayor a 0</div>
        </div>
      </div>
  
      <div class="form-group">
        <label for="description">Descripción:</label>
        <textarea 
          id="description" 
          formControlName="description">
        </textarea>
        <div class="error-message">
          <div *ngIf="productoForm.get('description')?.errors?.['required'] && productoForm.get('description')?.touched">La descripción es requerida</div>
          <div *ngIf="productoForm.get('description')?.errors?.['minlength'] && productoForm.get('description')?.touched">
            La descripción debe tener al menos 10 caracteres
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <label for="imagen">Imagen:</label>
        <input 
          type="file" 
          id="imagen" 
          (change)="onFileSelected($event)" 
          accept="image/*"
          formControlName="imagen"
          >
      </div>

      <div class="form-group talles-container">
        <label for="talles">Selecciona los talles disponibles:</label>
        <div class="talles-options">
          <label *ngFor="let talle of tallesDisponibles">
            <input 
              type="checkbox" 
              [value]="talle" 
              (change)="onTalleChange($event)">
            {{ talle }}
          </label>
        </div>
  
        <div *ngFor="let talleGroup of tallesFormArray.controls; let i = index">
          <div class="talle-stock-group">
            <label>Talle: {{ talleGroup.get('size')?.value }}</label>
            <input 
              type="number" 
              [formControl]="getStockControl(i)" 
              placeholder="Cantidad en stock">
          </div>
        </div>
  
        <div class="error-message" *ngIf="tallesFormArray.errors?.['required'] && submitted">
          Debes seleccionar al menos un talle.
        </div>
      </div>
  
      
      <button type="submit">Agregar Producto</button>
    </form>
  </div>