

  body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
    font-family: 'Roboto', sans-serif;
    background-color: #000;
  }

  html {
    scroll-behavior: smooth;
  }
  
  